<h2>Form</h2>

<%= form_for @song do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  
  <%= f.submit %>
<% end %>

Failure/Error: fill_in 'song[artist_id]', with: @artist.id

     Capybara::ElementNotFound:
       Unable to find field "song[artist_id]" that is not disabled
     #